 *{
    margin: 0;

 }
 
 
 .conteudo{
display: flex;
justify-content: space-between;
}

.cartao{
    background-color: blue;
    color: white;
    border-radius: 20px;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc();
    margin: 1rem 1rem;
}

.cartao:hover.cartao--conteudo{
    background-color:rgb(226, 43, 43);
    transform: rotateY(180deg);
}
.cartao--resposta{
    font-size: 20px;
}
.cartao--conteudo{
border-radius: 20px;
background-color: blue;
height: 100%;
transform-style: preserve-3d;
transition: transform 300ms ease-in-out;
}
cartao--pergunta, .cartao--resposta{
    backface-visibility: hidden;
}
.cartao--resposta{
    transform: rotateY(180deg);
}

footer{
    background-color: black;
}